<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Test Main 페이지</title>
</head>
<body>
<h2> 메인 페이지 입니다. </h2>

<div sec:authorize="isAnonymous()">
    <p><a href="/login"> Login </a></p>
</div>
<div sec:authorize="isAnonymous()">
    <p><a href="/register"> Register </a></p>
</div>
<div sec:authorize="isAuthenticated()">
    <p><a href="/mypage"> MyPage </a></p>
</div>
<div sec:authorize="isAuthenticated()">
    <p><a href="/logout"> Logout </a></p>
</div>

</body>
</html>